<!-- {{AllSysAudit | json}} -->
<span *ngIf="permAudit">
<app-searchaudit (getResponse)="getDoneSearch($event)"></app-searchaudit>


<div style="margin: 5px">

  <!-- {{AllSysAudit | json}} -->
<p-table 
#dt1 id="dt1" [value]="AllSysAudit"  [columns]="selectedColumns" [rows]="totalRow" [showCurrentPageReport]="true" sortMode="multiple"
[scrollable]="false" scrollHeight="450px" styleClass="p-datatable-sm" [rowsPerPageOptions]="[5, 10, 25, 50 ,100 , 500]"
styleClass="p-datatable-sm p-datatable-gridlines"
[loading]="loading" selectionMode="single" [(selection)]="selectedProcess" [paginator]="false"  
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[globalFilterFields]="[ 'username' , 'action_NAME' ,'action_DATE', 'action_DESCRIPTION', 'org_ROLE']"
[metaKeySelection]="true" responsiveLayout="scroll" selectionMode="multiple" dataKey="account_NO"
>
<ng-template pTemplate="caption">
  <div class="flex"  style="float: right; margin-top: -5px; margin-left: 8px">
    <button type="button" class="btn btn-success btnNew" (click)="exportExcel()" title="Export Excel">
      <i class="pi pi-file-excel"></i> Export
    </button>
  </div>



  <div class="table-header" style="height: 25px">

    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="multicol"
    selectedItemsLabel="{0} columns selected" placeholder="Choose Columns" [ngModelOptions]="{standalone: true}"></p-multiSelect>

    <span class="p-input-icon-left searchtable">
      <i class="pi pi-search"></i>
      <input pInputText type="text" id="inputID"  [ngModelOptions]="{standalone: true}" ngModel #inVal="ngModel" [(ngModel)]="h" (input)="dt1.filterGlobal(inVal.value, 'contains')" placeholder="Search keyword"/>
    </span>

  </div>
</ng-template>

<ng-template pTemplate="header"  let-columns>
  <tr>
    <th *ngFor="let col of columns" pSortableColumn={{col.field}}>
      <div class="p-d-flex p-jc-between p-ai-center">
        {{col.header}}
      <p-sortIcon field={{col.field}}></p-sortIcon>
     </div>
   </th>
  </tr>

  <tr>
    <th *ngFor="let col of columns" > 
      <p-columnFilter   type="text"  field={{col.field}} ></p-columnFilter> <!-- type="numeric"-->
      <!-- <p-columnFilter *ngIf="col.field == 'action_DATE'"  type="date"  field={{col.field}} class="ml-auto"></p-columnFilter>  -->

   </th>

  </tr>
  
</ng-template>

<ng-template pTemplate="body" let-rowData let-columns="columns">

  <tr>
 
    <td *ngFor="let col of columns">
      {{rowData[col.field]}}
   </td>
  </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td colspan="9"><h6 class="emptymessage">No Data Found</h6></td>
  </tr>
</ng-template>



<ng-template pTemplate="summary">
 <span class="paginatorShow"> Showing {{first}} to {{last}} of {{totalRecords}} entries </span>
 <p-paginator #paginator id="manual-paginator" [first]="first"  [rows]="totalRow" [totalRecords]="totalRecords" 
 [rowsPerPageOptions]="[5, 10, 25, 50 , 100 , 500 ]" (onPageChange)="paginate($event)"></p-paginator>
</ng-template>
</p-table>


</div>

</span>

