<p-toast position="top-left"></p-toast>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
<div class="p-1" *ngIf="permSearch">
    <p-accordion>
        <p-accordionTab header="Search" [transitionOptions]="'100ms'"  [selected]="true">
            <div class="quota">
                (Current {{CurrentQUOTA?.split('=')[CurrentQUOTA?.split('=')['length']-1]}}  :
                 Max  {{MaxQUOTA?.split('=')[MaxQUOTA?.split('=')['length']-1]}} ) QUOTA
             </div>
            <div class="formControID" id="search">
                    <div class="row  search">
                        <div class="col-2">   
                            <label for="searchType">Search By <span class="text-danger">*</span> </label>            
                            <p-dropdown  inputId="searchType"  [options]="items"  optionLabel="label"  formControlName="searchType"  
                            [filter]="true" filterBy="label" [showClear]="true" placeholder="Select Search Type" (onChange)="onChangesearchType($event.value)"
                            [ngClass]="{'border-danger': myForm.get('searchType')?.invalid && myForm.get('searchType')?.errors &&
                            (myForm.get('searchType')?.dirty || myForm.get('searchType')?.touched)}">
                              <ng-template let-searchType pTemplate="selectedItem">
                                  <div>
                                      <div>{{searchType.label}}</div>
                                  </div>
                              </ng-template>
                          </p-dropdown>
                            <div *ngIf="myForm.get('searchType')?.invalid && myForm.get('searchType')?.errors && (myForm.get('searchType')?.dirty || myForm.get('searchType')?.touched)">
                                <div class="form-text text-danger mt-1" *ngIf="myForm.controls['searchType']?.errors?.['required']"> Field is required.</div>
                             </div>
                        </div>

                        <div class="col-3" *ngIf="checkType.value == '1'" >   
                            <label for="userName"> ORG ROLE <span class="text-danger"></span></label>            
                            <p-dropdown  
                            inputId="ORG_ROLE"
                            [options]="OrgRole"  
                            optionLabel="value"  
                            formControlName="ORG_ROLE"  
                            (ngModelChange)="onChangeORGROLE($event)" 
                            [filter]="true" 
                            filterBy="value" 
                            [virtualScroll]="true" [itemSize]="20"
                            [showClear]="true" 
                            placeholder="Select ORG ROLE" 
                            [ngClass]="{'border-danger': myForm.get('ORG_ROLE')?.invalid && myForm.get('ORG_ROLE')?.errors &&
                            (myForm.get('ORG_ROLE')?.dirty || myForm.get('ORG_ROLE')?.touched)}">
                            <ng-template let-s pTemplate="ORG_ROLE">
                              <div *ngIf="s.valuear != '-1' "> 
                                  {{s.value}}
                              </div>
                              <div *ngIf="s.valuear === '-1' " style="margin-left: 40%;" > 
                                    <i class="pi pi-spin pi-spinner text-center"></i>  Loading
                              </div>
                            </ng-template>
                          </p-dropdown>

                        </div>

                        

                        <div class="col-3" *ngIf="checkType.value == '1'" > 
                            <label for="userName"> Worker Name <span class="text-danger">*</span></label>            
                            <p-dropdown  
                            [virtualScroll]="true" [itemSize]="20"
                            inputId="EMP_Role_ID"  
                            [options]="Workers"  
                            optionLabel="valuear"  
                            formControlName="all"  
                            [filter]="true" filterBy="valuear" [showClear]="true" placeholder="Select EMP Role" 
                            [ngClass]="{'border-danger': myForm.get('all')?.invalid && myForm.get('all')?.errors &&
                            (myForm.get('all')?.dirty || myForm.get('all')?.touched)}">
                              <ng-template let-EMPRoleID pTemplate="EMP_Role_ID">
                                  <!-- <div>
                                      <div>{{EMPRoleID.valuear}}</div>
                                  </div> -->
                                  <div *ngIf="EMPRoleID.value != '-1' "> 
                                    {{EMPRoleID.value}}
                                </div>
                                <div *ngIf="EMPRoleID.value === '-1' " style="margin-left: 40%;" >  
                                    <i class="pi pi-spin pi-spinner text-center"></i>  Loading
                                </div>
                              </ng-template>
                          </p-dropdown>

             

                            <!-- <div *ngIf="myForm.get('all')?.invalid && myForm.get('all')?.errors && (myForm.get('all')?.dirty || myForm.get('all')?.touched)">
                                <div class="form-text text-danger mt-1" *ngIf="myForm.controls['all']?.errors?.['required']"> Field is required.</div>
                             </div> -->
                        </div>


                        <div class="col-3" *ngIf="checkType.value == '3'" >   
                            <label for="userName"> ORG ROLE <span class="text-danger">*</span></label>            
                            <p-dropdown  inputId="ORG_ROLE"  [options]="OrgRole"  optionLabel="value"  formControlName="all"    
                            [virtualScroll]="true" [itemSize]="20"
                            [filter]="true" filterBy="value" [showClear]="true" placeholder="Select ORG ROLE" 
                            [ngClass]="{'border-danger': myForm.get('all')?.invalid && myForm.get('all')?.errors &&
                            (myForm.get('all')?.dirty || myForm.get('all')?.touched)}">
                            <ng-template let-s pTemplate="ORG_ROLE">
                                <div *ngIf="s.valuear != '-1' "> 
                                    {{s.value}}
                                </div>
                                <div *ngIf="s.valuear === '-1' " style="margin-left: 40%;" > 
                                    <i class="pi pi-spin pi-spinner text-center"></i>   Loading
                              </div>
                               
                              </ng-template>
                          </p-dropdown>

                          <!-- <div *ngIf="myForm.get('all')?.invalid && myForm.get('all')?.errors && (myForm.get('all')?.dirty || myForm.get('all')?.touched)">
                                <div class="form-text text-danger mt-1" *ngIf="myForm.controls['all']?.errors?.['required']"> Field is required.</div>
                            </div> -->
                        </div>

                        <div class="col-3" *ngIf="checkType.value == '2'" >
                            <label for="WORK_ORDER_ID">Work Order ID <span class="text-danger">*</span></label>
                            <p-inputNumber  formControlName="all"  [min]="0" id="WORK_ORDER_ID"    [useGrouping]="false"
                             (keyup)="onKeyUpWorkOrder($event)"  
                            [ngClass]="{'border-danger': myForm.get('all')?.invalid && myForm.get('all')?.errors &&
                            (myForm.get('all')?.dirty || myForm.get('all')?.touched)}"></p-inputNumber>
                        </div>
                       

                        <div class="actions">
                            <p-button label="Search" *ngIf="!showSecondButton" type="submit" icon="pi pi-search" #search id="search" styleClass="p-button-success p-search btnNew" [disabled]="myForm.invalid  || !canSearch()"> </p-button>
                            <p-button label="Search" *ngIf="showSecondButton" type="submit" icon="pi pi-search" #search id="search" styleClass="p-button-success p-search btnNew" [disabled]="disablebutton "> </p-button>
                            <p-button label="Reset" type="button" icon="pi pi-refresh" styleClass="p-button-secondary btnNew " [style]="{'margin-left': '.5em'}"  data-dismiss="modal" (click)="reset()"></p-button>
                        </div>
                   
                        
                
                    </div>
            
        
            
            
            
            </div>

       
        </p-accordionTab>
    </p-accordion>

</div>

</form>


<!-- {{this.loadingpage}} -->