<p-toast position="top-left"></p-toast>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="p-1">
    <p-accordion>
      <p-accordionTab
        header="Search"
        [transitionOptions]="'100ms'"
        [selected]="true"
      >
        <div class="formControID">
          <div class="row search">
            <!-- <div class="col-2">
                            <div  *ngIf="myForm.get('toDate')?.value == ''  || myForm.get('toDate')?.value == null">
                            <label for="fromDate">From Date</label>       
                            <div>
                              <p-calendar formControlName="fromDate"    dateFormat="mm/dd/yy" [showButtonBar]="true" [showIcon]="true" 
                              id="fromDate" inputId="fromDate"  name="fromDate"  [(ngModel)]="fromDate"  
                              [ngClass]="{'border-danger': myForm.get('fromDate')?.invalid && myForm.get('fromDate')?.errors &&
                              (myForm.get('fromDate')?.dirty || myForm.get('fromDate')?.touched)} "></p-calendar>
                              <div *ngIf="myForm.get('fromDate')?.invalid && myForm.get('fromDate')?.errors && (myForm.get('fromDate')?.dirty || myForm.get('fromDate')?.touched)">
                                  <div class="form-text text-danger mt-1" *ngIf="myForm.controls['fromDate']?.errors?.['required']"> fromDate is required.</div>
                               </div>
                            </div>
                            </div>

                            <div *ngIf="myForm.get('toDate')?.value !== '' &&  myForm.get('toDate')?.value !== null">
                                <label for="fromDate">From Date <span class="text-danger">*</span></label>         
                                <div>
                                  <p-calendar formControlName="fromDate"  dateFormat="mm/dd/yy" [showButtonBar]="true" [showIcon]="true" 
                                  id="fromDate" inputId="fromDate"  name="fromDate"  [(ngModel)]="fromDate"   [required]="true"
                                  [ngClass]="{'border-danger': myForm.get('fromDate')?.invalid && myForm.get('fromDate')?.errors &&
                                  (myForm.get('fromDate')?.dirty || myForm.get('fromDate')?.touched)} "></p-calendar>
                                  <div *ngIf="myForm.get('fromDate')?.invalid && myForm.get('fromDate')?.errors && (myForm.get('fromDate')?.dirty || myForm.get('fromDate')?.touched)">
                                      <div class="form-text text-danger mt-1" *ngIf="myForm.controls['fromDate']?.errors?.['required']"> fromDate is required.</div>
                                   </div>
                                </div>
                                </div>

                     
                        </div>

                        <div class="col-2">
                            <div *ngIf="myForm.get('fromDate')?.value == '' || myForm.get('fromDate')?.value == null">
                            <label for="toDate">To Date</label>
                              <p-calendar formControlName="toDate"  dateFormat="dd/mm/yy" [showButtonBar]="true" [showIcon]="true" 
                              id="toDate" inputId="toDate"  name="toDate"  [(ngModel)]="toDate" [required]="false"
                              [ngClass]="{'border-danger': myForm.get('toDate')?.invalid && myForm.get('toDate')?.errors &&
                              (myForm.get('toDate')?.dirty || myForm.get('toDate')?.touched)} "></p-calendar>
                              <div *ngIf="myForm.get('toDate')?.invalid && myForm.get('toDate')?.errors && (myForm.get('toDate')?.dirty || myForm.get('toDate')?.touched)">
                                  <div class="form-text text-danger mt-1" *ngIf="myForm.controls['toDate']?.errors?.['required']"> toDate is required.</div>
                               </div>
                            </div>

                            <div *ngIf="myForm.get('fromDate')?.value !== '' && myForm.get('fromDate')?.value !== null">
                                <label for="toDate">To Date <span class="text-danger">*</span></label>
                                <p-calendar formControlName="toDate"  dateFormat="dd/mm/yy" [showButtonBar]="true" [showIcon]="true" 
                                id="toDate" inputId="toDate"  name="toDate"  [(ngModel)]="toDate"  [required]="true"
                                [ngClass]="{'border-danger': myForm.get('toDate')?.invalid && myForm.get('toDate')?.errors &&
                                (myForm.get('toDate')?.dirty || myForm.get('toDate')?.touched)} "></p-calendar>
                                
                                <div *ngIf="myForm.get('toDate')?.invalid && myForm.get('toDate')?.errors && (myForm.get('toDate')?.dirty || myForm.get('toDate')?.touched)">
                                    <div class="form-text text-danger mt-1" *ngIf="myForm.controls['toDate']?.errors?.['required']"> toDate is required.</div>
                                 </div>

                            </div>

                        </div>
                    -->

            <div class="col-2">
              <div>
                <label for="ACTION_DATE">ACTION DATE</label>
                <div>
                  <p-calendar formControlName="ACTION_DATE"
                    dateFormat="mm/dd/yy" [showButtonBar]="true" [showIcon]="true"
                    id="ACTION_DATE" inputId="ACTION_DATE" name="ACTION_DATE"
                    [(ngModel)]="ACTION_DATE"
                    [ngClass]="{'border-danger': myForm.get('ACTION_DATE')?.invalid && myForm.get('fromDate')?.errors &&
                        (myForm.get('ACTION_DATE')?.dirty || myForm.get('ACTION_DATE')?.touched) }"></p-calendar>
                  <div
                    *ngIf=" myForm.get('ACTION_DATE')?.invalid && myForm.get('ACTION_DATE')?.errors &&
                      (myForm.get('ACTION_DATE')?.dirty || myForm.get('ACTION_DATE')?.touched)">
                    <div class="form-text text-danger mt-1" *ngIf="myForm.controls['ACTION_DATE']?.errors?.['required']"> ACTION_DATE is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-2">
              <label for="USERNAME">User Name </label>
              <input  type="text" formControlName="USERNAME" class="form-control" id="USERNAME"  [(ngModel)]="USERNAME"
                [ngClass]="{'border-danger':
                    myForm.get('USERNAME')?.invalid &&  myForm.get('USERNAME')?.errors && (myForm.get('USERNAME')?.dirty || myForm.get('USERNAME')?.touched)}"/>
              <div
                *ngIf="myForm.get('USERNAME')?.invalid && myForm.get('USERNAME')?.errors &&
                  (myForm.get('USERNAME')?.dirty || myForm.get('USERNAME')?.touched)">
                <div
                  class="form-text text-danger mt-1" *ngIf="myForm.controls['USERNAME']?.errors?.['required']">
                  USERNAME is required.
                </div>
              </div>
            </div>
<!-- (ngModelChange)="onChangeORGROLE($event)"  -->
            <div class="col-2">
              <label for="ORG_ROLE">ORG ROLE</label>
              <p-dropdown  
              inputId="ORG_ROLE"
              [options]="OrgRole"  
              optionLabel="value"  
              [virtualScroll]="true" 
              [itemSize]="20"
              (onClear)="clearSelection($event)"
              formControlName="ORG_ROLE"  
              [filter]="true" filterBy="value" 
              [showClear]="true" placeholder="Select ORG ROLE" 
              [ngClass]="{'border-danger': myForm.get('ORG_ROLE')?.invalid && myForm.get('ORG_ROLE')?.errors &&
              (myForm.get('ORG_ROLE')?.dirty || myForm.get('ORG_ROLE')?.touched)}">
                <ng-template let-s pTemplate="ORG_ROLE">
                    <div *ngIf="s.valuear != '-1' "> 
                      {{s.value}}
                  </div>
                  <div *ngIf="s.valuear === '-1' " style="margin-left: 40%;" > 
                    <i class="pi pi-spin pi-spinner text-center"></i>  Loading
                  </div>
                </ng-template>
            </p-dropdown>
             
            </div>

            <!-- <div class="col-2">
                <label for="EMP_Role_ID">EMP Role Name</label>
                <p-dropdown  inputId="EMP_Role_ID"  [options]="Workers"  optionLabel="valuear"  formControlName="EMP_ROLE_ID"  
                [filter]="true" filterBy="valuear" [showClear]="true" placeholder="Select EMP Role" 
                [ngClass]="{'border-danger': myForm.get('EMP_ROLE_ID')?.invalid && myForm.get('EMP_ROLE_ID')?.errors &&
                (myForm.get('EMP_ROLE_ID')?.dirty || myForm.get('EMP_ROLE_ID')?.touched)}">
                  <ng-template let-EMPRoleID pTemplate="selectedItem">
                      <div>
                          <div>{{EMPRoleID.valuear}}</div>
                      </div>
                  </ng-template>
              </p-dropdown>
               
              </div> -->


           


            <div class="actions">
              <p-button
                label="Search"
                type="submit"
                icon="pi pi-search"
                styleClass="p-button-success p-search btnNew"
                [disabled]="valid()"
              >
              </p-button>
              <p-button
                label="Reset"
                type="button"
                icon="pi pi-refresh"
                styleClass="p-button-secondary btnNew "
                [style]="{ 'margin-left': '.5em' }"
                data-dismiss="modal"
                (click)="reset()"
              ></p-button>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</form>
