.search .col-3 , .search .col-2{
    margin-bottom: 5px;
}
.search  label {
    font-weight: 700;
    color: #64748b; 
    margin-left: 2px;
    font-size: 12px;
}

.actions{
    float: right;
    margin-right: 7px;
    margin-top: 30px;
}

.actions .pi{
    margin-left: 2px;
}


.hiddenInput{
    height: 0px !important;
    visibility: hidden;
    padding: 0px;
    float: left;
    margin-top: -10px !important;
}


.formControID .p-inputtext{
    width: -webkit-fill-available;
}