.sidebar{
    background: #ffffff;
    color: #495057;
    border: 0 none;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    background: #9f3636; /* 22263c - 9f3636 - 4b525c*/
}



#sidebar-toggle{
    display: none;
  }
  
  #sidebar-toggle:checked ~ .sidebar{
    width: 0px;
  }
  #sidebar-toggle:checked ~ .sidebar .sidbar-header h3  ,
  #sidebar-toggle:checked ~ .sidebar li a  ,
  #sidebar-toggle:checked ~ .sidebar li span:last-child{
    /* display: none; */
    font-size: 12px;
    text-align: center;
    margin: 0px;
}

  
#sidebar-toggle:checked ~ .sidebar .sidbar-header .data-login{
    display: none;
  }

  #sidebar-toggle:checked ~ .sidebar .sidbar-header img{
    margin-left: 5px;
  }

  #sidebar-toggle:checked ~ .sidebar .sidbar-header  ,
  #sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
  }

  #sidebar-toggle:checked ~ .sidebar a {
  display: block;
  }

  #sidebar-toggle:checked ~ .sidebar a p  {
    display: none;
}
  
  #sidebar-toggle:checked ~ .main-content{
  margin-left: 0px;
  width: calc(100% - 0px);
  }
  
  #sidebar-toggle:checked ~ .main-content header{
    left: 0px;
    width: calc(100% - 0px);
    }
  
  .sidebar{
    height: 100%;
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    color: #fff;
    transition: width 200ms;
  }
  
  .sidbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 10px;
    border-bottom: .5px solid #ddd ;
    
  }
  
  .sidbar-header .data-login{
    font-size: 13px;
  }

  .sidebar ul{
    list-style: none;
    margin: 0;
    padding:0;
    line-height: normal;
  }
  .sidebar li{
    /* margin-bottom: 20px; */
    /* border-bottom: 1px solid rgb(204 204 204 / 20%); */
    text-align: center;
    border-bottom: 1px solid rgb(226 226 226 / 50%);

  }
  
  .sidebar a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    /* display: flex; */
    padding:12px 6px;
  }

  .active {
    /* background-color: rgb(0 12 30 / 45%); */
    background-color: #657fa080;
    border-bottom: 1px solid rgb(226 226 226 / 50%);
    /* border-left: 3px solid #fff; */
  
  }
  
  .sidebar a span{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13px;
  }

  .sidebar a span img{
    width: 14px;;
  }

  .sidebar a p{
    font-size: 13px;
    margin: 4px 0 0 0;
  }
  
  .sidebar a .icon-navbar{
    color: #fff;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .main-content{
    position: relative;
    margin-left: 100px;
    transition: margin-left 200ms;
  }
  
  header{
    background:#f8f9fa!important ; 
    position: fixed;
    top:0;
    left: 100px;
    width: calc(100% - 100px);
    z-index: 100;
    background: #fff;
    height: 60px;
    padding:0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: fff;
    border-bottom: 1px solid #ccc;
    transition: left 200ms;
  
  }
  
  .header-action{
    display: flex;
    align-items: center;
  }
  .header-action span , .header-action div{
    margin: 0 5px;
  }
  .header-action .user{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #3c3c3c;
    padding: 6px;
    color: fff;
    font-size: 25px;
    text-align: center;
  
  }
  main{
  margin-top: 60px;
  background: #e2e2e2;
  }
  
  .memu-icon{
      font-size: 22px;
    /* margin-left: 18px; */
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .brand{
    margin: 0px !important;
    font-size: 16px;
    margin-top: 0px !important;
    font-weight: 700;
  }
  @media only  screen and (max-width:1200px) {
    #sidebar-toggle:checked ~ .sidebar{
      width: 0px;
    }
  
    #sidebar-toggle:checked ~ .sidebar .sidbar-header h3 span:last-child ,
    #sidebar-toggle:checked ~ .sidebar li span:last-child{
      display: none;
    }
  
    #sidebar-toggle:checked ~ .sidebar .sidbar-header ,
    #sidebar-toggle:checked ~ .sidebar li {
    display: flex;
    justify-content: center;
    }
  
    #sidebar-toggle:checked ~ .main-content{
    margin-left: 0px;
    width: calc(100% - 0px);
    }
  
    #sidebar-toggle:checked ~ .main-content header{
      left: 0px;
      width: calc(100% - 0px);
      }
  }
  
  
  
  .select-languang {
    font-family: 'FontAwesome'
  }
  
  #en_lang::after{
    content: "kk";
  }
  
  .dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #e9e9e9;
}