<input id="sidebar-toggle" type="checkbox" /> 

<div class="sidebar main-color" >
  <div class="sidbar-header">  
    <!-- <div>
        <img src="/../assets/images/fav.ico" alt="Logo" width="70%;" >
    </div> -->
    <!-- <div class="data-login">
        <span> username </span>
        <span> ex@mail.com </span>
    </div> -->
  </div>

  <div class="sidebar-menu" >
    <ul>
        <!-- <li routerLinkActive="active">
            <a routerLink="/dashboard" title="Home">
              <span class="fa fa-home  icon-navbar" ></span>
              <p>Home</p>
            </a>
          </li> -->

          <li routerLinkActive="active" *ngIf="permSearch">
            <a routerLink="/tracking1" title="Tracking">
              <span class="fa fa-home  icon-navbar" ></span>
              <p>Tracking</p>
            </a>
          </li>

          <li routerLinkActive="active" *ngIf="permAudit">
            <a routerLink="/audit" title="audit">
              <span class="fa fa-file-text-o  icon-navbar" ></span>
              <p>Audit</p>
            </a>
          </li>

          <!-- <li>
            <a routerLink="/test" title="map">
              <span class="fa fa-home  icon-navbar" ></span>
              <p>test</p>
            </a>
          </li> -->

    
          <!-- <label for="sidebar-toggle" class="fa fa-bars memu-icon" title="collapse"></label> -->

    </ul>
  </div>
</div>

<!-- Content -->
<div class="main-content">
 <!-- <app-navbar></app-navbar> -->
 <header>
    <div style="display: flex">
      <label for="sidebar-toggle" class="fa fa-bars memu-icon" title="collapse"></label>
  
      <!-- <div class="logomtsit">
        <img src="/../assets/images/logo.png" title="WFMGIS" width="90px" />
      </div> -->
    </div>
    <h3 class="brand">WFM GIS Portal</h3>
    <div style="display: inline-flex; margin-left: 40px; border: 1px solid #d9dce0">
      <div class="dropdown">
        <button
          class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> {{userName}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li class="dropdown-item" routerLink="" (click)="logout()">
            <a style="color: #000"> <i class="fa fa-lock"></i> Logout </a>
          </li>
        </ul>
      </div>
    </div>
</header>
 
  <main>
    <div class="container-fluid" >
      <div style="background: white;margin-top: 60px; margin-left: -14px;margin-right: -15px;border-radius: inherit; height: 100vh; padding: 0px;">
        <router-outlet></router-outlet>
        <app-navbar></app-navbar> 
     </div>
    </div>
  </main>
</div>

