/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Montserrat";
    src: url("assets/font/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.Montserrat {
    font-family: "Montserrat";
}

body{
    font-family: "Montserrat";
}
.dark-blue{
    background: #9f3636; /*183763*/
    color: #fff;
}

.text-dark-blue{
    color: #9f3636;
}

.text-dark-blue-bold{
color: #9f3636;
font-weight: 600;
}

.p-password.ng-invalid.ng-dirty > .p-password > .p-inputtext{
    padding-left: 39px !important;
 }

 .searchtable .p-inputtext{
    height: 30px  !important;
}

.p-datatable-wrapper .p-inputtext {
    width: 100%;
    height: 30px !important;
}

/* Fixed Table header */
.p-datatable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead {
    position: sticky;
    top: -2px;
    z-index: 1;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th ,
.table-header .ng-star-inserted,
.p-datatable.p-datatable-sm .p-datatable-header,
.p-datatable-tbody{
    font-size: 9.6px !important;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    margin-left: 0 !important;
}

.p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border-width: 1px 1px 1px 1px !important;
    padding: 0 !important;
}
.p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 35px !important;
    height: 35px !important;
}
.emptymessage{
    text-align: center;
    color: #a33;
}

.p-button{
    height: 35px  !important;
}

.btnNew{
    padding: 5px 15px !important;
    font-size: 12px !important;
    height: 32px !important;

}
.pi {
    font-size: 12px !important;
}

.p-input-icon-left > i:first-of-type {
    margin-top: -4px !important;
}

.p-calendar{
    width: 100%;
}
.p-calendar-w-btn .p-inputtext {
    height: 38px !important;
}
.p-calendar .p-datepicker{
    top: 0 !important;
}

.p-calendar-w-btn .p-datepicker-trigger {
    height: 38px !important;
    color: black !important;
    border-radius: 0px !important;
    background: #f8f9fa !important;
    border: 1px solid #d9dce0 !important;
    border-left: none !important;
    padding: 0 20px !important;
}

.p-button.p-button-text{
    background: rgba(99, 102, 241, 0.04);
    color: #6366F1;
    border-color: transparent;
}


.text-danger {
    color: #dc3545!important;
    font-size: 12px!important;
}

.p-component-overlay {
    background-color: rgb(232 235 238 / 50%) !important;
    transition-duration: 0.2s;
}



label , .form-control , .p-datepicker table td ,.p-calendar-w-btn .p-datepicker-trigger , .p-inputtext{
    font-size: 12px !important;
}
.p-paginator .p-paginator-current{
    font-size: 14px !important;
}
.form-group {
    margin-bottom: 5px !important;
}

.p-multiselect{
    height: 30px  !important;

}

.p-multiselect .p-multiselect-label {
    padding: 4px 15px !important;
    font-size: 12px !important;
    color: #838485 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
    font-size: 12px !important;
}

.p-multiselect-filter-container .p-inputtext {
    height: 30px !important;
}

.p-column-filter-row p-columnfilterformelement{
    width: 100% !important;
}

.p-calendar .p-datepicker {
    min-width: 320px !important;
  }


.formControID .p-inputtext , 
.formControID .p-inputnumber-input ,
.formControID .p-calendar-w-btn .p-datepicker-trigger,
.formControID .p-dropdown , .p-dropdown{

height: 35px  !important;
}
.p-dropdown .p-dropdown-label.p-placeholder , .p-dropdown.p-dropdown-clearable .p-dropdown-label{
    padding: 8px 30px 5px 16px;
}
.p-dropdown {
    display: flex !important;
}
.p-dropdown .p-dropdown-clear-icon{
    font-size: 10px !important;
    margin-top: -5px !important;
}
.formControID  .p-dropdown .p-dropdown-label.p-placeholder{
    margin-top: 0px;
}

p-inputnumber, .p-inputnumber  {
    width: 100%;
    height: 35px;
}

.p-accordion .p-accordion-header{
    padding:0px ;
}
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link ,
.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
  /*  background: #f8f9fa; */
    background: #e9ecef;
    border-color: #dee2e6;
    color: #343a40;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 12px 11px;
    text-decoration: none;
    font-size: 12px;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffffff;
}

.p-accordion .p-accordion-content{
    padding: 5px 10px !important;
}

.p-accordion p-accordiontab .p-accordion-tab {
    margin-bottom: -5px;
}

.white{
    color: white;
}

.warning_background{
    background:#f39c12 ;
}


.p-divider.p-divider-horizontal{
    margin: 7px 0 16px 0;
    padding: 0;
}

.divider{
    border: 1px solid #ddd;
}


.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link ,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    text-decoration: none !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    height: 30px !important;
}
.p-tabview .p-tabview-nav{
    height: 43px !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
    height: 30px !important;
    border: none !important;
}

#manual-paginator{
    background: white !important;
    display: -webkit-inline-box !important;
}

.p-datatable.p-datatable-sm .p-datatable-footer{
    background: white;
    border: 2px solid #ddd;
    text-align: center;
    padding: 0;
}
.p-paginator{
    padding: 0 !important;
}

.p-paginator .p-dropdown .p-dropdown-label {
    padding-top: 8px  !important;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 8px !important;
    height: 8px !important;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend{
    width: 180px;
    font-size: 12px;
    padding: 0;
    margin-left: 20px;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a{
    padding:7px 3px;
    text-decoration: none;
}
p-fieldset .p-fieldset-content {
    font-family: 'Montserrat';
}
.p-fieldset .p-fieldset-content{
    padding: 0;
}

.gm-style .gm-style-iw-c{
    max-width: 4% !important;
}

.marker-label{
    margin-top: 70px !important;
    width: 65% !important;
    white-space: pre-wrap !important; 
    margin-left: 18% !important;

    overflow: hidden !important;
    /* height: 20px !important; */
    line-height: 18px !important;
}

.marker-label:hover{
    /* height: auto !important;
    display: block !important; */
    color: #a33 !important;
}
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, 
.p-paginator .p-paginator-next, .p-paginator .p-paginator-last{
    margin: -11px;
}